* {
    margin: 0%;
    padding: 0%;
}

h1 {
    text-align: center;
}

td {
    width: 100px;
    height: 100px;
    -color: grey;
}

table {
    margin: auto;
}

.vertical {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.horizontal {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.tot {
    border: 1px solid black;
}

